.client-tickets-main{
    display: grid;
    grid-gap: 10px;
    padding-top: 15.5em;
    margin-left: 5em;
    margin-right: 1em;
    grid-template-columns: auto;
    grid-auto-rows: minmax(25px, auto);
}
.client-tickets-submain{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto;
    grid-auto-rows: minmax(25px, auto);
    background-color: white;
    border-radius: 25px;
    padding: 1em;
    width: auto;
    height: auto;
    min-height: 100%;
    margin-bottom: 1em;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
  }
@media (min-width: 950px) {
    .client-tickets-box-down {
      top: 150px;
    }
    .client-tickets-box {
      width: 18%;
    }
  
}

.client-tickets-cyan {
    border-top: 3px solid var(--cyan);
  }
  .client-tickets-box p {
    color: var(--grayishBlue);
  }
  
  .client-tickets-box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 10px;
  }

  @media (max-width: 450px) {
    .client-tickets-box {
      height: 200px;
    }
  }
  
  @media (max-width: 950px) and (min-width: 450px) {
    .client-tickets-box {
      text-align: center;
      height: 180px;
    }
  }

  .client-tickets-align{
    padding-left: 20px;
    font-weight: bold;
  }
  
  .client-tickets-heading {
    font-weight: bold;
    color: white;
  }
  
  .client-tickets-title {
    margin-left: 50px;
    border: none;
    background-color: whitesmoke;
    border-radius: 8px;
    padding-left: 90px;
    font-size: 1.5rem;
    width: 93%;
    border: 1px solid transparent;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    font-weight: bold;
  }
  
  .client-tickets-title:hover {
    border: 1px solid #d0d0d0;
    background-color: white;
  }
  
  .client-tickets-details {
    background-color: whitesmoke;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    width: 93%;
  }
  
  .client-tickets-details:hover {
    border: 1px solid #d0d0d0;
    background-color: white;
  }
  
  .client-ticketsatge-details {
    margin: 15px;
    padding: 10px;
    width: 95.5%;
    margin-left: -0.5em;
  }
  
  .client-tickets-drop {
    border: lightgray;
    background-color: white;
    border-radius: 8px;
    padding-left: 90px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
  }

  .btn-addTicket{
    background: linear-gradient(to right, #0467e9, #009ffd);
    border-radius: 20px;
    padding: 4px;
    color: white;
    width: 40px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 684px;
    right: 4em;
  }

  .dropdown-clientTickets{
    width: 18%;
  height: 2.5em;
  position: relative;
  display: inline-block;
  border: 1px solid rgba(48, 207, 208, 0.5);
  border-radius: 0.5em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin-left: 5em;
  }

  .dropdown.clientItem {
    background: #79b0a1;
  }